/* Mobile First Design 
    Mobile Portrait Layout: all changes in this section are for phones (mobile)
    at portrait layout (most narrow devices)
    */
ul.nav-pills>li {
    float: none;
}
ul.nav-pills>li+li {
    margin-left: 0;
}
.current_page_item a {
    background-color: #336699;
    color: white;
}
.page_item_has_children a {
    display: block;
}
.page_item_has_children button+a {
    display: inline-block;
    width: 90%;
}
ul.children li {
    background-color: #ddd;
    padding-left: 1em;
}
ul.children a {
    background-color: #ddd;
    padding: .5em;
}
/* Responsive Menu */
button.btn.btn-default.btn-lg.responsive-toggle {
    height: auto;
    opacity: 1;
}
button.btn.btn-default.btn-sm.responsive-toggle {
    display: inline-block;
    width: 10%;
    padding: 10px 15px;
    font-size: 85%;
}
ul.nav-pills.hidden,
ul.children.hidden {
    height: 0;
    opacity: 0;
}
ul.nav.nav-pills {
	height: auto;
	opacity: 1;
}
@media (min-width: 785px) {
    /* Hide menu toggle */
    button.btn.btn-default.btn-lg.responsive-toggle {
        height: 0;
        opacity: 0;
    }
    /* Display navbar */
	ul.nav.nav-pills {
		height: auto;
		opacity: 1;
	}
}
/* Tablet Landscape Position (greater than 860px) */
@media (min-width: 861px) {

}
/* Breakpoint for adding in horizontal navbar */
@media (min-width: 927px) {
    /* Hide nested toggles 
    .nested-responsive-toggle {
        height: 0;
        opacity: 0;
    }*/
    .children {
        position: absolute;
        width: 15em;
        z-index: 10;
    }
    .children li {
        border: 1px solid #808080;
    }
    .children .children {
        bottom: -2em;
        right: 15em;
        z-index: 10;
    }

    .page_item_has_children a:hover {
        background-color: #f5f3f3;
        text-decoration: none;
    }
    .page_item_has_children:hover>.children {
        height: auto;
        opacity: 1;
    }
    ul.nav-pills>li {
        float:  left;
    }
    ul.nav-pills>li+li {
        margin-left: 2px;
    }
}
