.current_page_item a {
    background-color: #336699;
    color: white;
}
.page_item_has_children a {
    display: block;
}
.page_item_has_children a:hover {
    background-color: #f5f3f3;
    text-decoration: none;
}
.page_item_has_children:hover>.children {
    height: 100%;
    opacity: 1;
}
.children {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    position: absolute;
    width: 15em;
}
.children li {
    background-color: #fff;
    border: 1px solid #808080;
    padding-left: 1em;
}
.children .children {
    left: 15em;
    top: 1em;
}


